# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
build
dist

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Testing files
coverage
*.test.js
*.test.ts
*.test.jsx
*.test.tsx
**/__tests__/**

# Miscellaneous files
.DS_Store
*.log
*.map
*.tgz
*.zip
*.tar

# Git and other version control
.git
.gitignore
*.swp

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker files
Dockerfile
docker-compose.yml
docker-compose.override.yml
